#icon_title 
{
    text-align: center;
    padding: 30px 0px 30px 0px;
}



#icon_box
{
    width: 1240px;
    text-align: center;
}

#icon_box > p
{
    display: inline-block;
    width: 250px;
    
    margin: 10px 30px 30px 10px;
    padding-bottom: 30px;
    line-height: 25px;
    
    font-size: 14px;
    border-bottom: 3px dotted;

}

#icon_box img
{
    display: block;
}


