*
{
   margin: 0 auto;
   padding: 0;
   font-size: 14px;
   
   font-family: 'Malgun Gothic', 'Gulim', sans-serif;
}



   /* 메인 이미지 */

#top
{
   margin-top: 30px;

   width: 1000px;
   height: 500px;

   position: relative;
   
}

#top img
{
  float: left;
}

#top div
{
   width: 250px;
   height: 250px;

   position: absolute;
   bottom: 0px;

   background-color: rgba(29, 255, 29, 0.386);
}

#top div p
{
   width: 210px;
   height: 210px;

   line-height: 23px;
   padding: 20px 0px 0px 20px;
}




/* 박스 메인 */

#box_all
{
   width: 1000px;
   height: 500px;
}



.small_box
{
   width: 750px;
   float: left;
}

.small_box div
{
   width: 210px;
   height: 210px;
   padding: 20px;

   background-color: orange;

   float: left;
}

.small_box div p 
{
   line-height: 25px;
}


.small_box div:nth-child(odd)
{
   background-color: brown;
}

.long_box
{
   width: 210px;
   height: 460px;
   padding: 20px;
   float: left;

   background-color: antiquewhite;
}



/* 풋터 */

footer
{
   width: 710px;
   height: 30px;

   padding: 0px 20px 0px;
   padding-top: 10px;

   float: left;

   background-color: gray;
}

footer li
{
   list-style: none;
   display: inline-block;
}

footer li::after
{
   content: "|";
   font-weight: bold;
   padding: 0px 10px 0px;
   
   color: orange;
}

footer li:last-child::after
{
   content: none;
}

