*
{
   margin: 0 auto;
   font-size: 14px;
   font-family: "Malgun Gothic";
}

#top
{
   width: 1000px;
   height: 500px;

   margin-top: 10px;
}



#top > .left_img
{ 
   margin: 0;

   width: 750px;
   height: 500px;

   float: left;

   background-image: url(../img/chef_about.png);
}

#top > .left_img p
{
   width: 210px;  
   height: 210px;

   padding: 20px 20px 20px 20px;

   margin-left: 0px;
   margin-top: 250px;
  

   background-color: rgba(21, 126, 53, 0.566);
}



#top > .right_img
{
   width: 250px;
   height: 500px;

   float: left;

   background-color: rgb(245, 220, 220);
}

#top > .right_img img
{
   float: left;
}
